html {
	scroll-behavior: smooth;
}

body {
	color: #fff;
	background-color: #f3f3f5;


	ul {

	}

	li {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: #fff;
		 
		 &:hover {
			text-decoration: none;
			color: #fff;
		 }
	}
}

.center-bold-text {
	padding: 2em 0;

	h1 {
		text-transform: uppercase;
		font-size: 4em;
	    font-weight: normal;

		span {
			font-weight: 550;
		}
	}
}

