html {
	scroll-behavior: smooth;
}

body {
	color: #fff;
	background-color: #f3f3f5;


	ul {

	}

	li {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: #fff;
		 
		 &:hover {
			text-decoration: none;
			color: #fff;
		 }
	}
}

.center-bold-text {
	padding: 2em 0;

	@media screen and (min-width: 778px) {
		padding: 0;
	}

	h1 {
		text-transform: uppercase;
		font-size: 4em;

		@media screen and (min-width: 778px) {
			font-size: 1.5em;
		}

		span {
			font-weight: 550;
		}
	}
}

