.grid-part {
	margin-top: 6em;
	margin-bottom: 1em;

	@media screen and (max-height: 450px) {
		margin-top: 2em;
	}
}

.my-figure-caption {
	color: #606060;
	font-size: 2em;
	line-height: 1.2;
	padding: 0 1.2em;

	@media screen and (max-height: 450px) {
		font-size: 1em;
		line-height: 1;
		padding: 0 5.0em;
	}
}

.grid-img {
	height: 8em;
}

